/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.1;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CUSTOM STYLES */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/Outfit.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

:root {
  --color-main: #136f63; /* For main conversion elements */
  --color-bg-body: #fef0e4; /* For the body */
  --color-bg-section: #b7bcc9; /* For sections */
  --color-bg-boxes: #dfe3e3; /* For cards and boxes in general */
  --color-typo-dark: #0c090d; /* For colorized typo */
  --color-type-light: #fafafa;
}

body {
  background-color: var(--color-bg-body);
  color: var(--color-typo-dark);
  font-family: "Outfit", Helvetica, sans-serif;
}

h2 {
  text-align: center;
}

.box {
  padding: 20px;
  text-align: center;
  background-color: var(--color-bg-boxes);
}

.boxes {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

button {
  margin: 20px 0 10px;
  width: 100%;
  border: none;
  background-color: var(--color-main);
  color: white;
  padding: 8px;
  cursor: pointer;
}

.boxes button:hover {
  opacity: 0.8;
}

.subheading {
  text-align: center;
  margin-bottom: 40px;
}

.price {
  font-size: 30px;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

header {
  background-color: var(--color-typo-dark);
  color: var(--color-type-light);
  padding: 10px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: 600;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  margin-bottom: 30px;
  padding: 40px 0 50px 0;
}

section.section-bg {
  background-color: var(--color-bg-section);
}

nav .conversion {
  background-color: var(--color-main);
  color: white;
  padding: 2px 10px 3px;
  border-radius: 5px;
}

.photo1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.samesize {
  width: 80px;
  height: 80px;
  object-fit: fill;
}

.parent {
  display: flex;
  margin-top: 40px;
  gap: 40px;
}

div .section3 {
  flex: 1;
  text-align: center;
}

.section3 p {
  margin: 0;
}

.round-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.choose {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.choose #photo3 {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  align-items: center;
  object-fit: cover;
}

#sectionchoose h2 {
  text-align: center;
  padding-bottom: 5%;
}

.hero a {
  color: white;
  text-decoration: none;
}

.hero {
  justify-content: center;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 2;
  display: flex;
  gap: 40px;
}

.hero button {
  margin: 0;
}

.hero-bg {
  background-image: url(assets/images/wood.jpg);
  background-size: 100%;
  padding: 0;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #00000096;
  bottom: 0;
}

.hero-box1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 600px;
  padding-bottom: 50px;
  padding-top: 40px;
}

.hero-box1 button {
  width: 160px;
}

.hero-box2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  border-radius: 25px;
}

.hero .link-box {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.hero span {
  padding: 6px;
  font-size: 20px;
  float: left;
  color: rgb(0, 0, 0);
  background-color: #ffea00;
}

.hero-h1 {
  font-size: 50px;
  text-align: left;
  padding-top: 80px;
  color: rgb(255, 255, 255);
}

.hero-subheading {
  text-align: left;
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}

.hero-img {
  width: auto;
  justify-content: center;
  align-items: center;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

footer {
  padding: 80px;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  padding: 10px;
}

.footer-nav nav {
  display: flex;
  list-style: none;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.footer-nav nav a {
  color: inherit;
}

.footer-nav nav a:hover {
  color: #05b9a1;
}

.footer-media {
  padding: 5px;
}

.footer-media nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-media nav a {
  padding: 7px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(220, 219, 219);
}

.footer-media nav a:hover {
  color: #05b9a1;
  background: #f3d155;
}

.hidden-default {
  display: none;
}

.menu-mobile {
  cursor: pointer;
}

.menu-mobile nav {
  display: none;
}

.menu-mobile:hover nav {
  display: block;
  position: absolute;
  background-color: var(--color-typo-dark);
  padding: 15px;
  margin-left: -10px;
}

.menu-mobile ul {
  display: block;
  text-align: left;
  padding-left: 0;
}

.menu-mobile li {
  margin-bottom: 6px;
}

.logo {
  width: 200px;
  padding: 5px 0;
}

@media (max-width: 800px) {
  .boxes {
    flex-wrap: wrap;
  }

  .visible-800 {
    display: block;
  }

  .hide-800 {
    display: none;
  }
}
