/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CUSTOM STYLES */
body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;
}

header {
  background: rgb(54, 193, 221);
  /* position: sticky; */
  /* display: flex; */
  gap: 10px;
}

.logo {
  background: white;
}

nav {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 12px;
  padding: 10px 0;
}

.btn {
  padding: 5px;
  border-radius: 0px;
  background: white;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

main {
  background: rgb(216, 246, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background: gray;
  display: flex;
  align-items: center;
}
